
body {
  background: linear-gradient(270deg, #a7a338, #470868);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #020003;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}


.status {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(168, 186, 11, 0.3);
}


.board-row {
  display: flex;
}


.square {
  width: 120px;
  height: 120px;
  background-color: #424242;
  border: 3px solid #444;
  border-radius: 10px;
  margin: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #00e0ff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


.square:hover {
  background-color: #a7a338;
  transform: scale(1.05);
  box-shadow: 0 0 10px #00e0ff;
}


.square:contains("O") {
  color: #ff3bc7;
}

.square:contains("X") {
  color: #470868;
}


.game-info button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 17px;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.game-info button:hover {
  background-color: #666;
  transform: scale(1.05);
}

ol {
  list-style: none;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
}


.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.game-info {
  max-height: 300px;   
  overflow-y: auto;    
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
